section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fafafa;
  padding: 0 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.featured-collections__wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.featured-collections__wrapper .nav-arrow {
  height: 50px;
  width: 50px;
  display: inline-block;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.featured-collections__wrapper .nav-arrow:first-child {
  left: -22px;
}
.featured-collections__wrapper .nav-arrow:last-child {
  right: -22px;
}
.featured-collections__wrapper .featured-collections__slider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 6) - 13px);
  gap: 13px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; /* if you use 0 you'd get a small scrollbar on Firefox instead of none */
}
.featured-collections__slider::-webkit-scrollbar {
  display: none;
} /* hides scrollbar on Safar*/
.featured-collections__slider :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.featured-collections__slider .featured-collections__card {
  list-style: none;
  height: 342px;
  background-color: navy;
  border-radius: 8px;
  cursor: pointer;
  scroll-snap-align: start;
}
.featured-collections__slider.no-transition {
  scroll-behavior: auto;
}
.featured-collections__slider.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.featured-collections__slider.dragging .card {
  cursor: grab;
  user-select: none;
}
.featured-collections__card .img {
  height: 80%;
}
.featured-collections__card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-collections__card .content {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-collections__card h2 {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 30px 0 5px;
  color: #fff;
  padding: 0;
  margin: 0;
}
.featured-collections__card span {
  color: #fff;
  font-size: 1rem;
}

@media screen and (min-width: 1441px) {
  .featured-collections__wrapper .featured-collections__slider {
    grid-auto-columns: calc((100% / 6) - 13px);
  }
}
@media screen and (max-width: 1200px) and (max-width: 1440px) {
  .featured-collections__wrapper .featured-collections__slider {
    grid-auto-columns: calc((100% / 5) - 13px);
  }
}

@media screen and (max-width: 768px) and (max-width: 1199px) {
  .featured-collections__wrapper .featured-collections__slider {
    grid-auto-columns: calc((100% / 3) - 13px);
  }
}
@media screen and (max-width: 767px) {
  .featured-collections__wrapper .featured-collections__slider {
    grid-auto-columns: calc((100% / 2) - 13px);
  }
}

.featured-collection__dots {
  display: flex;
  width: 100%;
  height: 6px;
  background: #efefef;
  border-radius: 6px;
  overflow: hidden;
  margin: 30px 3rem 3rem 0;
}

.featured-collection__dot {
  flex: 1;
  background: transparent;
  transition: background 0.3s ease;
}

.featured-collection__dot.active {
  background: #772dee;
}
